// Useful mixins for CSS3 effects.
@import 'nib'

// Make browsers render HTML elements consistently.
@import 'normalize'


@import '_variables'
@import '_mixins';

@import '_fonts';

body
  margin: 0


canvas
  display: block
  width: 100%
  height: 100%

#canvas-container
  display: block
  width: 100%
  height: 100%


input
  outline: 0

